/*
* @ THEME ADJUSTMENTS GO IN HERE
*/

/* Toolbutton image/icon margin, bigger margin for Huge icons a circles */
toolbutton button image {
  margin: 0.4em;
}


/* Spinbutton container, height related to slider */
spinbutton {
  margin:     0.1rem;
  min-height: 0.6rem;
  min-width:    1rem;
}

/* Input box, position of numbers */
spinbutton entry {
  margin:          0rem;
  margin-right:    0rem;
  padding-left:  0.2rem;
  padding-right: 0.2rem;
  padding-top:  0.05rem;
}


/* Buttons next to slider, margin-top and bottom control -+ shape */
spinbutton    button,
GimpSpinScale button {
  min-height:     0.6rem;
  min-width:      0.1rem;
  margin:           0rem;
  margin-left:      0rem;
  margin-top:       0rem;
  margin-bottom:    0rem;
  padding:        0.1rem;
}

spinbutton    button {
  margin-top:    0rem;
  margin-bottom: 0rem;
}

/* Placeholder, Slider container, margin around slider */
GimpSpinScale {
  margin:       0.1rem;
  margin-right: 0.1rem;
  padding:        0rem;
}

/* Slider trough, also sets height of the slider */
GimpSpinScale entry {
  min-height:    1.3rem;
  padding:         0rem;
  padding-left:     1px;
  margin:          0rem;
}

/* Slider highlight, it's progress, negative hack, see padding above */
GimpSpinScale progress {
  margin-left:   0rem;
  margin-right:  0rem;
  margin-top:    0rem;
  margin-bottom: 0rem;
}

