/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2023-07-22
 * @ Description: Light Dark theme colors for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/* Paste from GIMP below */


/* Foreground items should be given a "fg" color */
@define-color fg-black-color                rgb(0, 0, 0);
@define-color fg-dark-low-color             rgb(13, 13, 13);
@define-color fg-dark-color              rgb(19, 19, 19);
@define-color fg-dark-high-color         rgb(26, 26, 26);
@define-color fg-dark-higher-color       rgb(45, 45, 45);

/* Background shade colors */
@define-color shade-lower-color          rgb(50, 50, 50);
@define-color shade-low-color            rgb(55, 55, 55);
@define-color shade-color                rgb(59, 59, 59);
@define-color shade-high-color           rgb(68, 68, 68);
@define-color shade-higher-color         rgb(75, 75, 75);

/* Background mid-tone colors */
@define-color mid-low-color              rgb(110, 110, 110);
@define-color mid-low-hover-color        rgb(123, 123, 123);
@define-color mid-color                  rgb(133, 133, 133);
@define-color mid-high-color          rgb(156, 156, 156);
@define-color mid-high-hover-color    rgb(163, 163, 163);
@define-color mid-higher-color        rgb(176, 176, 176);
@define-color mid-highest-color       rgb(192, 192, 192);
@define-color mid-highest-hover-color rgb(205, 205, 205);

/* Background light colors */
@define-color light-low-color         rgb(217, 217, 217);
@define-color light-low-hover-color   rgb(224, 224, 224);
@define-color light-color             rgb(232, 232, 232);
@define-color light-hover-color       rgb(240, 240, 240);
@define-color light-high-color        rgb(246, 246, 246);
@define-color light-higher-color      rgb(255, 255, 255);

/* Bright foreground colors */
@define-color fg-bright-lower-color   rgb(217, 217, 217);
@define-color fg-bright-low-color     rgb(227, 227, 227);
@define-color fg-bright-color         rgb(238, 238, 238);
@define-color fg-bright-high-color    rgb(248, 248, 248);
@define-color fg-white-color          rgb(255, 255, 255);

/* Highlighting color */
@define-color highlight-low-color       rgb(64, 193, 188);
@define-color highlight-color           rgb(119, 228, 182);

/* fg darks with no remapping */
@define-color og-black-color                rgb(0, 0, 0);
@define-color og-dark-low-color             rgb(13, 13, 13);
@define-color og-dark-color              rgb(19, 19, 19);
@define-color og-dark-high-color         rgb(26, 26, 26);
@define-color og-dark-higher-color       rgb(45, 45, 45);

/* End paste */


/* Canvas color */
@define-color canvas-color            rgb(119, 119, 119);

/* Certain Caret colors */
@define-color caret-color             rgb(255, 20, 20);

/* Disabled actions in menus */
@define-color disabled-color             rgb(80, 80, 80);

/* Decoration shadow opacity */
@define-color box-shadow-color       rgba(0, 0, 0, 0.15);
@define-color box-shadow-backdrop-color rgba(0, 0, 0, 0);

/* Anything hard to reach, background gets the 2px line under image bar */
*{
  color:                 @fg-dark-color;
  border-color:     @shade-higher-color;
  background-color: @shade-higher-color;
}
