/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2023-07-22
 * @ Description: Warm theme colors for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/* Paste from GIMP below */


/* Foreground items should be given a "fg" color */
@define-color fg-black-color                rgb(27, 0, 0);
@define-color fg-dark-low-color             rgb(31, 2, 0);
@define-color fg-dark-color              rgb(33, 7, 0);
@define-color fg-dark-high-color         rgb(36, 15, 0);
@define-color fg-dark-higher-color       rgb(50, 31, 0);

/* Background shade colors */
@define-color shade-lower-color          rgb(53, 35, 2);
@define-color shade-low-color            rgb(57, 39, 12);
@define-color shade-color                rgb(61, 43, 20);
@define-color shade-high-color           rgb(68, 50, 30);
@define-color shade-higher-color         rgb(74, 56, 38);

/* Background mid-tone colors */
@define-color mid-low-color              rgb(95, 76, 58);
@define-color mid-low-hover-color        rgb(106, 86, 67);
@define-color mid-color                  rgb(113, 93, 73);
@define-color mid-high-color          rgb(132, 111, 89);
@define-color mid-high-hover-color    rgb(138, 116, 93);
@define-color mid-higher-color        rgb(148, 126, 102);
@define-color mid-highest-color       rgb(161, 138, 113);
@define-color mid-highest-hover-color rgb(171, 148, 121);

/* Background light colors */
@define-color light-low-color         rgb(183, 156, 124);
@define-color light-low-hover-color   rgb(189, 161, 128);
@define-color light-color             rgb(195, 167, 134);
@define-color light-hover-color       rgb(201, 173, 139);
@define-color light-high-color        rgb(207, 178, 144);
@define-color light-higher-color      rgb(216, 187, 152);

/* Bright foreground colors */
@define-color fg-bright-lower-color   rgb(230, 200, 164);
@define-color fg-bright-low-color     rgb(240, 209, 174);
@define-color fg-bright-color         rgb(251, 219, 183);
@define-color fg-bright-high-color    rgb(255, 229, 192);
@define-color fg-white-color          rgb(255, 239, 201);

/* Highlighting color */
@define-color highlight-low-color       rgb(145, 53, 8);
@define-color highlight-color           rgb(171, 97, 68);

/* fg darks with no remapping */
@define-color og-black-color                rgb(27, 0, 0);
@define-color og-dark-low-color             rgb(31, 2, 0);
@define-color og-dark-color              rgb(33, 7, 0);
@define-color og-dark-high-color         rgb(36, 15, 0);
@define-color og-dark-higher-color       rgb(50, 31, 0);


/* End paste */


/* Canvas color */
@define-color canvas-color             rgb(110, 100, 87);

/* Disabled actions in menus */
@define-color disabled-color              @mid-low-color;

/* Decoration shadow opacity */
@define-color box-shadow-color       rgba(0, 0, 0, 0.15);
@define-color box-shadow-backdrop-color rgba(0, 0, 0, 0);

/* Theme accent colors */
@define-color warm-shade-color          rgb(135, 95, 70);
@define-color warm-low-color           rgb(190, 124, 70);
@define-color warm-color               rgb(211, 152, 75);
@define-color warm-hover-color         rgb(216, 157, 80);
@define-color warm-high-color          rgb(235, 170, 95);
@define-color warm-light-low-color    rgb(245, 185, 115);
@define-color warm-light-color        rgb(250, 210, 125);
@define-color warm-light-high-color   rgb(255, 220, 150);

/* Anything hard to reach, background gets the 2px line under image bar */
*{
  color:                 @fg-dark-color;
  border-color:     @shade-higher-color;
  background-color: @shade-higher-color;
}

