/*
 * @ Author: Mark Sweeney @pixelmixer
 * @ Created: 2023-07-22
 * @ Description: Warm Dark theme colors for GIMP 3.0
 * @ Under GNU GENERAL PUBLIC LICENSE Version 3" 
*/

/* Paste from GIMP below */

/* Foreground items should be given a "fg" color */
@define-color fg-black-color                rgb(29, 0, 0);
@define-color fg-dark-low-color             rgb(32, 0, 0);
@define-color fg-dark-color              rgb(34, 2, 0);
@define-color fg-dark-high-color         rgb(36, 10, 0);
@define-color fg-dark-higher-color       rgb(50, 27, 13);

/* Background shade colors */
@define-color shade-lower-color          rgb(33, 1, 0);
@define-color shade-low-color            rgb(34, 3, 0);
@define-color shade-color                rgb(35, 6, 0);
@define-color shade-high-color           rgb(37, 11, 0);
@define-color shade-higher-color         rgb(39, 15, 0);

/* Background mid-tone colors */
@define-color mid-low-color              rgb(56, 37, 26);
@define-color mid-low-hover-color        rgb(63, 46, 36);
@define-color mid-color                  rgb(69, 52, 43);
@define-color mid-high-color          rgb(86, 69, 60);
@define-color mid-high-hover-color    rgb(91, 74, 65);
@define-color mid-higher-color        rgb(102, 85, 76);
@define-color mid-highest-color       rgb(117, 98, 88);
@define-color mid-highest-hover-color rgb(130, 110, 100);

/* Background light colors */
@define-color light-low-color         rgb(182, 154, 139);
@define-color light-low-hover-color   rgb(188, 160, 145);
@define-color light-color             rgb(196, 167, 151);
@define-color light-hover-color       rgb(204, 174, 158);
@define-color light-high-color        rgb(210, 180, 164);
@define-color light-higher-color      rgb(222, 191, 175);

/* Bright foreground colors */
@define-color fg-bright-lower-color   rgb(223, 196, 182);
@define-color fg-bright-low-color     rgb(235, 207, 193);
@define-color fg-bright-color         rgb(247, 218, 204);
@define-color fg-bright-high-color    rgb(255, 230, 215);
@define-color fg-white-color          rgb(255, 241, 226);

/* Highlighting color */
@define-color highlight-low-color       rgb(91, 20, 0);
@define-color highlight-color           rgb(114, 42, 0);

/* fg darks with no remapping */
@define-color og-black-color                rgb(29, 0, 0);
@define-color og-dark-low-color             rgb(32, 0, 0);
@define-color og-dark-color              rgb(34, 2, 0);
@define-color og-dark-high-color         rgb(36, 10, 0);
@define-color og-dark-higher-color       rgb(50, 27, 13);

/* End paste */

/* Canvas color */
@define-color canvas-color                rgb(71, 59, 49);

/* Decoration shadow opacity */
@define-color box-shadow-color        rgba(0, 0, 0, 0.15);
@define-color box-shadow-backdrop-color  rgba(0, 0, 0, 0);

/* Remap for dark theme */
@define-color fg-black-color              @fg-white-color;
@define-color fg-dark-low-color     @fg-bright-high-color;
@define-color fg-dark-color              @fg-bright-color;
@define-color fg-dark-high-color     @fg-bright-low-color;
@define-color fg-dark-higher-color @fg-bright-lower-color;




/* Disabled actions in menus */
@define-color disabled-color     @mid-highest-hover-color;

/* Theme accent colors, sliders... */
@define-color warm-shade-color           rgb(135, 85, 60);
@define-color warm-low-color            rgb(180, 104, 50);
@define-color warm-color                rgb(191, 122, 45);
@define-color warm-hover-color          rgb(205, 137, 60);
@define-color warm-high-color           rgb(215, 150, 75);
@define-color warm-light-low-color      rgb(225, 165, 95);
@define-color warm-light-color         rgb(230, 190, 105);
@define-color warm-light-high-color    rgb(235, 200, 130);

/* Anything hard to reach, background gets the 2px line under image bar */
*{
  color:               @fg-bright-color;
  border-color:     @shade-higher-color;
  background-color: @shade-higher-color;
}